# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store
dist/javascripts/bundle.js.map
dist/stylesheets/style.css.map
delete-sourcemaps.js

# Docker
Dockerfile
docker-compose.yml