@media (max-width: 768px) {
    .container {
        padding-top: 50px;
        max-width: 730px; 
    }
}

@media (min-width: 768px) {
    .container {
        padding-top: 50px;
        width: 750px;
    }
}