// // Required Bootstrap
// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";

// // Optional Bootstrap
// @import "custom";
// @import "~bootstrap/scss/forms";
// @import "~bootstrap/scss/input-group";
// @import "~bootstrap/scss/buttons";
// @import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/jumbotron";
// @import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/card";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/dist/css/bootstrap-grid";
// @import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/utilities/position";

@import "~bootstrap/scss/bootstrap";

// Own styles
@import 'custom';     // Customized bootstrap
@import 'container';
@import 'barList';
@import 'loader';
@import 'scrollBar';
@import 'loginForm';

body {
  padding: 30px 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
